@font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"), url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

* {
    font-family: 'Poppins-Regular', sans-serif !important
}

.sidenav {
    position: fixed;
    height: 93vh;
    width: 80px;
    top: 55px;
    left: 5px;
    background-color: #1c1c1c;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}

.sidenav1open {
    position: fixed;
    height: 93vh;
    width: 400px;
    top: 55px;
    left: 90px;
    background-color: #1c1c1c;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.sidenav1close {
    position: fixed;
    height: 93vh;
    width: 0;
    top: 55px;
    left: 90px;
    background-color: #1c1c1c;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}

.sidenav button {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

.sidebar-item button:hover {
    color: #fff;
}

.sidebar-item button:hover>svg path {
    fill: #fff !important;
}

.sidebar-item p {
    margin-top: 10px;
    font-size: x-small;
}

.sidebar-item button {
    padding: 8px 0;
    color: #b3b3b3;
}

.sidebar-item path {
    fill: #b3b3b3;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidebar-toggle-expanded {
    top: 50%;
    left: 10px;
    position: fixed;
    transform: translate(480px, -50%);
}

.sidebar-toggle-collapsed {
    top: 50%;
    left: 5px;
    position: fixed;
    transform: translate(80px, -50%);
}

.sidebar-toggle-expanded,
.sidebar-toggle-collapsed {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #b3b3b3;
    padding: 8px 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    content-visibility: visible;
}

.mainSidebarExpanded {
    height: 100vh;
    margin-left: 490px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.mainSidebarCollapsed {
    height: 100vh;
    margin-left: 80px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.nav {

    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #1c1c1c;
    position: fixed;
    margin: 0;
    border: 0;
    padding: 0;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>button {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        z-index: 10;
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

body {
    background-color: #303030 !important;
}

.canvas-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-main{
    background: white;
    transition: all 0.2s cubic-bezier(0.21, 0.31, 1, 1.24) 0s;
}

.zoom-container {
    position: fixed;
    align-self: flex-end;
    background-color: #1c1c1c;
    color: #b3b3b3;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.zoom-container button,
.zoom-container input {
    margin: 0;
    border: 0;
    padding: 10px;
    background: transparent;
    color: #b3b3b3;

}

.zoom-container input {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #b3b3b3;
    width: 30px;
    text-align: center;

}

.zoom-container input::-webkit-outer-spin-button,
.zoom-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.zoom-container input[type=number] {
    -moz-appearance: textfield;
}

.templates-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card {
    width: 180px;
    height: 180px;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px !important;
}

.gradient {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #303030 15%, #1c1c1c 20%, #303030 30%, #303030 15%);
    background-size: 1000px 640px;
    position: relative;

}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.add-text {
    color: #fff;
    width: 100%;
    border: none;
    cursor: pointer;
    height: 48px;
    display: block;
    outline: none;
    padding: 12px;
    margin-bottom: 8px;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    line-height: 1;
    white-space: nowrap;
    border-radius: 12px;
    text-overflow: ellipsis;
    background-color: #262626;
}

.add-text:hover {
    background-color: #303030;
}

.add-body-text {
    font-size: 12px;
    font-weight: 500;
}

.add-sub-heading {
    font-size: 14px;
    font-weight: bold;
}

.add-heading {
    font-size: 20px;
    font-weight: 600;
}

.textbar-container {
    width: 90%;
}

.taeb-switch {
    position: relative;
}

.taeb-switch:after {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    border-radius: 27.5px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
    background-color: #262626;
    height: 100%;
    z-index: 0;
}

.taeb-switch.color:after {
    left: 0;
}

.taeb-switch.image:after {
    left: 50%;
}

.taeb-switch .taeb {
    display: inline-block;
    width: 50%;
    padding: 10px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    user-select: none;
}

.taeb-switch .taeb {
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.wrapper {
    border-radius: 37px;
    background-color: #121212;
    width: 100%;
    max-width: 316px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.text-top-bar {
    position: fixed;
    align-self: flex-start;
    top: 55px;
    background-color: #1c1c1c;
    color: #b3b3b3;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.text-top-bar svg {
    padding: 10px;
    background: #262626;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.text-top-bar svg:hover {
    background-color: #303030;
}


.saturation-white>div:nth-child(2)>div:nth-child(1) {
    height: 10px !important;
    width: 10px !important;
}

#rc-editable-input-2,
#rc-editable-input-4,
#rc-editable-input-6,
#rc-editable-input-8,
#rc-editable-input-10,
#rc-editable-input-12,
#rc-editable-input-14,
#rc-editable-input-16,
#rc-editable-input-18,
#rc-editable-input-20 {
    background: #262626;
    border-radius: 10px;
    box-shadow: unset !important;
    font-size: unset !important;
    text-align: center;
}

.sketch-picker * {
    color: #b3b3b3 !important;
}

.sketch-picker label {
    font-size: small !important;
    margin: 5px 0 10px 0;
}

.color-heading{
    padding-left: 20px;
    text-align: left;
    color: #b3b3b3;
}